body {
    background: #37003c;
    color: white;
    font-family: Roboto;
    font-weight: 100;
}

table {
    text-align: left;
    border-collapse: collapse;
}

td, th {
    padding: 20px;
}

th {
    background: white;
    color: #37003c;
}

img {
    margin-right: 20px;
}

tr td:first-child, th:first-child  { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
tr td:last-child, th:last-child   { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }


