.standing {
    display: flex;
    width: 50rem;
    height: 5rem;
    text-align: left;
    border-radius: 10px;
    margin-top: -5px;
}

.standing > div, img {
    margin: auto 0;
}

div.header{
    background: white;
    color: #37003c;
}

img {
    margin-right: 20px;
}
